body {
    height: 100vh;
    background-image: url(./wallpaper.jpg);
    background-color: black;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    

}

#conteiner {  
    width: 400px;
    padding: 10px;
    margin: auto;
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

p{
    font-size: larger;
}

a{
    color: rgb(255, 255, 255);
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul{
    font-family: 'Times New Roman', Times, serif;
}
